            
<header>
  <div id="slide-out" class="side-nav sn-bg-5 fixed">
    <ul class="custom-scrollbar">
      <li class="logo-sn waves-effect py-3">
        <div class="text-center">
          <a href="#" class="pl-0"><img src="img/logo.png"></a>
        </div>
      </li>
      <hr>
      <li>
        <ul class="collapsible collapsible-accordion">
          <li>
            <a href="clientes.html" class="collapsible-header waves-effect">
              <i class="fas fa-tachometer-alt"></i> Dashboard</a>
          </li>
          <li>
            <a href="clientes.html" class="collapsible-header waves-effect">
              <i class="fas fa-users"></i> Clientes</a>
          </li>
          <li>
            <a href="verba.html" class="collapsible-header waves-effect">
              <i class="fas fa-money-bill-wave"></i> Verbas</a>
          </li>
          <li>
            <a href="desconto.html" class="collapsible-header waves-effect">
              <i class="fas fa-percent"></i> Desconto</a>
          </li>
          <li>
            <a href="cadastro.html" class="collapsible-header waves-effect">
              <i class="fas fa-file-signature"></i> Cadastro</a>
          </li>
          <li>
            <a href="salvage.html" class="collapsible-header waves-effect">
              <i class="fas fa-search-dollar"></i></i> Salvage</a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="sidenav-bg mask-strong"></div>
</div>
